<!doctype html>
<html>
<head>
    <title>Dal ROV</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
    <div class="header">
        <div class="nav_bar">
            <a href="" style="text-decoration: none"><span>Home</span></a>
            <a href=""style="text-decoration: none"><span>About</span></a>
            <a href=""style="text-decoration: none"><span>Contact</span></a>
            <a href=""style="text-decoration: none"><span>Gallery</span></a>
        </div>
    </div>



    </header>
    <main>



    </main>
    <footer>



    </footer>
</body>


</html>